<!DOCTYPE html>
<html style="margin:20px;">
<head>
	<title>Message Board</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
        $(document).ready(function (){

        });
	</script>
</head>
<body>
	<h2>The Dojo Message Board</h2><br><hr><br>
	<form action="/new_message" method="post" class="form-group">
		<label>Name: </label><br>
		<input type="text" name="name" class="form-control"></input>
		<label>Message: </label><br>
		<textarea name="message" class="form-control" rows="4"></textarea><br>
		<input type="submit" style="float: right;" value="Post Message"></input>
	</form><br><br>

	<div id="messages">
		<div id="comments"></div>
	</div>

	<% for (var i in messages) { %>
		<p>Name: <%= messages[i].name %></p>
		<p>Message: <%= messages[i].message %></p>
		<% if (messages[i].comments) { %>
			<% for (j in messages[i].comments) { %>
				<div style="margin-left: 30px;">
					<p>Name: <%= messages[i].comments[j].name %></p>
					<p>Comment: <%= messages[i].comments[j].comment %></p>
				</div>
			<% } %>
			<form style="margin-left: 30px;" action="/new_comment/<%= messages[i]._id %>" method="post" class="form-group">
						<label>Name: </label><br>
						<input type="text" name="name" class="form-control"></input>
						<label>Comment: </label><br>
						<textarea name="comment" class="form-control" rows="4"></textarea><br>
						<input type="submit" style="float: right;" value="Post Comment"></input>
					</form><br><br>
		<% } %>
	<% } %>

</body>
</html>